<!doctype html>
<meta charset="utf-8">
<title>Registration Viewer</title>
<meta name="viewport" content="user-scalable=no">

<style type="text/css">
html {
    overflow: hidden;
}
body {
    margin: 5px;
}
h1 {
    font-size: 1.2em;
}
.notice {
    font-style: italic;
}
div#images {
    position: absolute;
    width: 15%;
}
div#images h2 {
    font-size: 1em;
    margin: 0;
}
.associated-images {
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
div#images li {
    list-style-type: none;
}
.current-slide {
    background-color: #ccf;
}
.seadragon-viewer {
    display: inline-block;
    width: 49.8%;
    height: 100vh;
    position: relative;
}
#image-pointer_1{
    display: block;
    background: #d7002a;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0;
}
#image-pointer_2{
    display: block;
    background: #149f5b;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0;
}
.button {
    position:absolute;
    bottom: 0;
    left: 48%;
    z-index: 1000;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3D94F6;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px #999;
}
.button:hover {
    background-color: #1E62D0;
}
.button:active {
    background-color:  #1E62D0;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
</style>

<div id="image-pointer_1"> </div>
<div id="image-pointer_2"> </div>
<div id="viewer1" class="seadragon-viewer"></div>
<input type="button" class="button" value="Fix offset"/>
<div id="viewer2" class="seadragon-viewer"></div>

<script src="static/openseadragon.min.js"></script>
{#<script src="openseadragon-bin-2.2.1/openseadragon.js"></script>#}
<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/openseadragon-scalebar.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var dzi_data = {{ dzi_data|default('{}')|safe }};
    var viewer1 = new OpenSeadragon({
        id: "viewer1",
        prefixUrl: "static/images/",
        timeout: 120000,
        animationTime: 0.5,
        blendTime: 0.1,
        constrainDuringPan: true,
        maxZoomPixelRatio: 2,
        minZoomLevel: 1,
        visibilityRatio: 1,
        zoomPerScroll: 2,
        showNavigator: true,
        navigatorPosition: "BOTTOM_LEFT",
        overlays: [{
            id: 'image-pointer_1',
            x: 0.2008,
            y: 0.4778,
            placement: 'RIGHT',
            checkResize: false
        }],
    });
    var viewer2 = new OpenSeadragon({
        id: "viewer2",
        prefixUrl: "static/images/",
        timeout: 120000,
        animationTime: 0.5,
        blendTime: 0.1,
        constrainDuringPan: true,
        maxZoomPixelRatio: 2,
        minZoomLevel: 1,
        visibilityRatio: 1,
        zoomPerScroll: 2,
        showNavigationControl:true,
        showNavigator: true,
        navigatorPosition: "BOTTOM_LEFT",
        overlays: [{
            id: 'image-pointer_2',
            x: 0.2008,
            y: 0.4778,
            placement: 'RIGHT',
            checkResize: false
        }],
    });

    var viewer1Leading = false;
    var viewer2Leading = false;

    viewer1.addHandler("open", function() {
        // To improve load times, ignore the lowest-resolution Deep Zoom
        // levels.  This is a hack: we can't configure the minLevel via
        // OpenSeadragon configuration options when the viewer is created
        // from DZI XML.
        viewer1.source.minLevel = 6;    //8
    });
    viewer1.scalebar({
        xOffset: 10,
        yOffset: 10,
        barThickness: 3,
        color: '#555555',
        fontColor: '#333333',
        backgroundColor: 'rgba(255, 255, 255, 0.5)',
    });
    var viewer1Handler = function() {
      if (viewer2Leading) {
        return;
      }
      viewer1Leading = true;
      viewer2.viewport.zoomTo(viewer1.viewport.getZoom());
      viewer2.viewport.panTo(viewer1.viewport.getCenter());
      viewer1Leading = false;
    };

    viewer2.addHandler("open", function() {
        // To improve load times, ignore the lowest-resolution Deep Zoom
        // levels.  This is a hack: we can't configure the minLevel via
        // OpenSeadragon configuration options when the viewer is created
        // from DZI XML.
        viewer2.source.minLevel = 6;            //8
    });
    viewer2.scalebar({
        xOffset: 10,
        yOffset: 10,
        barThickness: 3,
        color: '#555555',
        fontColor: '#333333',
        backgroundColor: 'rgba(255, 255, 255, 0.5)',
    });
    var viewer2Handler = function() {
      if (viewer1Leading) {
        return;
      }
      viewer2Leading = true;
      viewer1.viewport.zoomTo(viewer2.viewport.getZoom());
      viewer1.viewport.panTo(viewer2.viewport.getCenter());
      viewer2Leading = false;
    };

    viewer1.addHandler('zoom', viewer1Handler);
    viewer2.addHandler('zoom', viewer2Handler);
    viewer1.addHandler('pan', viewer1Handler);
    viewer2.addHandler('pan', viewer2Handler);

    function open_slide(url1, url2, mpp) {
        var tile_source1;
        if (dzi_data[url1]) {
            // DZI XML provided as template argument (deepzoom_tile.py)
            tile_source1 = new OpenSeadragon.DziTileSource(
                    OpenSeadragon.DziTileSource.prototype.configure(
                    OpenSeadragon.parseXml(dzi_data[url1]), url1));
        } else {
            // DZI XML fetched from server (deepzoom_server.py)
            tile_source1 = url1;
        }
        viewer1.open(tile_source1);
        viewer1.scalebar({
            pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
        });

        var tile_source2;
        if (dzi_data[url2]) {
            // DZI XML provided as template argument (deepzoom_tile.py)
            tile_source2 = new OpenSeadragon.DziTileSource(
                    OpenSeadragon.DziTileSource.prototype.configure(
                    OpenSeadragon.parseXml(dzi_data[url2]), url2));
        } else {
            // DZI XML fetched from server (deepzoom_server.py)
            tile_source2 = url2;
        }
        viewer2.open(tile_source2);
        viewer2.scalebar({
            pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
        });
    }

    open_slide("{{ slide_url1 }}", "{{ slide_url2 }}", parseFloat('{{ slide_mpp }}'));
    $(".load-slide").click(function(ev) {
        $(".current-slide").removeClass("current-slide");
        $(this).parent().addClass("current-slide");
        open_slide($(this).attr('data-url1'), $(this).attr('data-url2'), parseFloat($(this).attr('data-mpp')));
        ev.preventDefault();
    });

    var localReg = function() {
        var tiledImage = viewer1.world.getItemAt(0);
        if (tiledImage) {
            var all_tile_info = '';
            tiledImage.lastDrawn.forEach(function (tile) {
                {#console.log('lastDrawn', tile);#}
                all_tile_info += tile.cacheKey;
                all_tile_info += ";";
            });
            fetch('/localReg', {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(all_tile_info)
            })
                .then(function (response) {
                    return response.text();
                })
                .then(function(text){
                    console.log('POST response: ');
                    console.log(text);
                    viewer2.world.resetItems()
                })
        }
    };
    $('.button').click(function () {
        localReg();
    });
    {#viewer1.addHandler('pan', localReg);#}

    var moveMouse = function(event) {
        var webPoint = event.position;
        var viewportPoint = viewer1.viewport.pointFromPixel(webPoint);
        var tiledImage = viewer1.world.getItemAt(0);

        if (tiledImage) {
            viewer1.removeOverlay("image-pointer_1");
            var elt = document.createElement("div");
            elt.id = "image-pointer_1";
            elt.className = "highlight";
            viewer1.addOverlay({
                element: elt,
                location: new OpenSeadragon.Point(viewportPoint.x, viewportPoint.y),
                placement: OpenSeadragon.Placement.CENTER,
            });

            viewer2.removeOverlay("image-pointer_2");
            var elt = document.createElement("div");
            elt.id = "image-pointer_2";
            elt.className = "highlight";
            viewer2.addOverlay({
                element: elt,
                location: new OpenSeadragon.Point(viewportPoint.x, viewportPoint.y),
                placement: OpenSeadragon.Placement.CENTER,
            });
        }
    }
    var tracker1 = new OpenSeadragon.MouseTracker({
        element: viewer1.canvas,
        scrollHandler:moveMouse,
        moveHandler:moveMouse,
    });
    var tracker2 = new OpenSeadragon.MouseTracker({
        element: viewer2.canvas,
        scrollHandler:moveMouse,
        moveHandler:moveMouse,
    });
});

</script>
